/target
/backend/infra/youtube/local
.idea/**/workspace.xml
.idea/**/statistics.xml
.idea/**/tasks.xml
.idea
.local
.vscode
.node_modules
node_modules
.env
.env.dev
AGENTS.md
pnpm-lock.yaml
.serena
.mise