/target

# Rustrover
.idea/**/workspace.xml
.idea/**/statistics.xml
.idea/**/tasks.xml
.idea

.env.*

# local
.local

# VSCode
.vscode

# pnpm
node_modules
pnpm-lock.yaml


# mise
.mise

# AI
AGENTS.md
.serena