experimental_monorepo_root = true

[tools]
node = "lts"
pnpm = "latest"
uv = "latest"

[env]
_.file = ['.env.dev', '.env.gcp']
MANIFEST_PATH = "service-backend/Cargo.toml"

#docker-compose
[tasks.compose-build]
description = "Build Docker images for the workspace"
run = "docker compose build"

[tasks.compose-up]
description = "Start Docker containers for the workspace"
run = "docker compose up -d --build"

[tasks.compose-watch]
description = "Start Docker containers for the workspace"
run = "docker compose up --watch"

[tasks.compose-down]
description = "Stop Docker containers for the workspace"
run = "docker compose down"

[tasks.compose-remove]
description = "Remove Docker containers for the workspace"
run = "docker compose rm"

[tasks.compose-logs]
description = "Show logs from Docker containers"
run = "docker compose logs -f"