[tools]
pnpm = "latest"
uv = "0.8.4"

[env]
_.file = '.env.{{ env.PROJECT_ENV | default(value="dev") }}'

[tasks.run-fetch]
description = "Run the video fetch application"
run = "cargo run --package video_fetch"

[tasks.run-server]
description = "Run the server application"
run = "cargo run --package server"

[tasks.build-all]
description = "Build all packages in the workspace"
run = "cargo build --all"

[tasks.build-video-fetch]
description = "Build the video fetch package"
run = "cargo build --package video_fetch"

[tasks.build-server]
description = "Build the server package"
run = "cargo build --package server"

[tasks.check]
description = "Check all packages in the workspace"
run = "cargo check --all"

[tasks.fmt]
description = "Format all packages in the workspace"
run = "cargo fmt --all"

[tasks.clippy]
description = "Run Clippy on all packages in the workspace"
run = "cargo clippy --all-targets --all-features -- -D warnings"

[tasks.watch]
description = "Fix all packages in the workspace"
depends = ["fmt", "clippy", "test-all"]

[tasks.test-install]
run = [
    "cargo install cargo-nextest"
]
description = "Install cargo-nextest if not available"

[tasks.test-all]
description = "Run tests using cargo-nextest"
depends = "test-install"
run = [
    "cargo nextest run --workspace --nocapture --status-level all"
]

[tasks.unit-test]
description = "Run unit tests in the workspace"
depends = "test-install"
run = "cargo nextest run unit_tests --workspace --nocapture --status-level all"
env = { RUST_BACKTRACE = "1" }

[tasks.integral-test]
description = "Run all tests in the workspace"
depends = "test-install"
run = "cargo nextest run integral_tests --workspace --nocapture --status-level all"
env = { RUST_BACKTRACE = "1" }

[tasks.test-types]
description = "Run tests for the types package"
run = "cargo test --package types"

[tasks.compose-build]
env.file= ".env"
description = "Build Docker images for the workspace"
run = "docker compose -f ./docker/docker-compose.yml build"

[tasks.compose-up]
description = "Start Docker containers for the workspace"
run = "docker compose -f ./docker/docker-compose.yml up -d"

[tasks.compose-down]
description = "Stop Docker containers for the workspace"
run = "docker compose -f ./docker/docker-compose.yml down"

[tasks.compose-remove]
description = "Remove Docker containers for the workspace"
run = "docker compose -f ./docker/docker-compose.yml rm -f"

[tasks.compose-logs]
description = "Show logs from Docker containers"
run = "docker compose -f ./docker/docker-compose.yml logs -f"

[tasks.setup-meili]
description = "Setup Meilisearch indexes"
run = "uv pip install -r scripts/requirements.txt && uv run scripts/setup_meili_indexes.py"

[tasks.video-index-stats]
description = "Show Meilisearch indexes stats"
run = "uv pip install -r scripts/requirements.txt && uv run scripts/index_stats.py videos"

[tasks.timestamp-index-stats]
description = "Show Meilisearch indexes stats"
run = "uv pip install -r scripts/requirements.txt && uv run scripts/index_stats.py timestamps"